.custom-error-alert .alert-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    .alert-button {
        font-weight: bold;
    }
}

.loading-spinner{
    color: white;
}

ion-content {
    --ion-background-color: #3880ff3d;
}