ion-content {
  --ion-background-color: var(--ion-color-primary);
}

.register-link{
  text-decoration: underline;
  color: white;
}

.back-arrow {
  color: white;
  font-size: 30px;
  margin: 30px;
}

//   .download-spinner {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: rgba(0, 0, 0, 0.15);
//       z-index: 1;

//       ion-spinner {
//           left: calc(50% - 15px);
//           height: 30px;
//           width: 30px;
//           top: calc(50% - 15px);
//       }
//   }

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
  color: white;

  .logo {
    width: 160px;
    margin: auto;
    // margin-bottom: 60px;
  }

  .login-item {
    margin-top: 15px;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    --highlight-height: 0;
    --highlight-background: white !important;

  }

  .login-item.item-has-focus {
    color: white !important;
  }

  .button-margin {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .big-icon-button:disabled {
    --background: rgba(255, 255, 255, 0.8);
  }

  .big-icon-button {
    --background: white;
    color: var(--ion-color-primary);
    border-radius: 5px !important;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 60px;

    ion-spinner {
      color: var(--ion-color-primary);
      position: absolute;
      right: 0;
    }

    ion-icon {
      color: var(--ion-color-primary);
      position: absolute;
      right: 0;
    }

    p {
      color: var(--ion-color-primary);
    }
  }

  .remember {
    margin-top: 15px;
    color: white;
    font-size: 17px;
  }

  .btn_eye_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background: transparent;
    z-index: 1000;

    ion-icon {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

}
